In [ ]:
Experiment 7 - CSE 3008 - L 23 + L 24

Implement Na√Øve Bayes Classification on the given dataset

Name: Pratyush Mohanty

Roll no: 20BCI7073

## Naive Bayes: Exercise

Use wine dataset from sklearn.datasets to classify wines into 3 categories. Load the dataset and split it into test and train. After that train the model using Gaussian and Multinominal classifier and post which model performs better. Use the trained model to perform some predictions on test data.

In [2]:
import pandas as pd
from sklearn.datasets import load_wine

In [3]:
import pandas as pd
from sklearn.datasets import load_wine

features, target = load_wine(as_frame=True).data, load_wine(as_frame=True).target
df = features
df['target'] = target

df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [4]:
df.groupby('target').describe()

       alcohol                                                             \
         count       mean       std    min     25%     50%     75%    max
target
0         59.0  13.744746  0.462125  12.85  13.400  13.750  14.100  14.83
1         71.0  12.278732  0.537964  11.03  11.915  12.290  12.515  13.86
2         48.0  13.153750  0.530241  12.20  12.805  13.165  13.505  14.34

       malic_acid            ... od280/od315_of_diluted_wines       proline  \
            count      mean  ...                          75%   max   count
target                       ...
0            59.0  2.010678  ...                         3.42  4.00    59.0
1            71.0  1.932676  ...                         3.16  3.69    71.0
2            48.0  3.333750  ...                         1.82  2.47    48.0


               mean         std    min    25%     50%     75%     max
target
0       1115.711864  221.520767  680.0  987.5  1095.0  1280.0  1680.0
1        519.507042  157.211220  278.0  406.5   495.0   625.0   985.0
2        629.895833  115.097043  415.0  545.0   627.5   695.0   880.0

[3 rows x 104 columns]

In [5]:
inputs = df.drop('target',axis = 'columns')
target = df.target

In [6]:
inputs.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

##GAUSSIAN

In [8]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [9]:
model.fit(X_train,y_train)

GaussianNB()

In [10]:
gaussian_nbmodel_score = model.score(X_test,y_test)
print(gaussian_nbmodel_score)

0.9814814814814815

In [11]:
X_test[0:10]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
24,13.50,1.81,2.61,20.0,96.0,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845.0
89,12.08,1.33,2.30,23.6,70.0,2.20,1.59,0.42,1.38,1.74,1.07,3.21,625.0
169,13.40,4.60,2.86,25.0,112.0,1.98,0.96,0.27,1.11,8.50,0.67,1.92,630.0
51,13.83,1.65,2.60,17.2,94.0,2.45,2.99,0.22,2.29,5.60,1.24,3.37,1265.0
101,12.60,1.34,1.90,18.5,88.0,1.45,1.36,0.29,1.35,2.45,1.04,2.77,562.0
10,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0
95,12.47,1.52,2.20,19.0,162.0,2.50,2.27,0.32,3.28,2.60,1.16,2.63,937.0
11,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280.0
28,13.87,1.90,2.80,19.4,107.0,2.95,2.97,0.37,1.76,4.50,1.25,3.40,915.0
41,13.41,3.84,2.12,18.8,90.0,2.45,2.68,0.27,1.48,4.28,0.91,3.00,1035.0

In [12]:
y_test[0:10]

24     0
89     1
169    2
51     0
101    1
10     0
95     1
11     0
28     0
41     0
Name: target, dtype: int32

In [13]:
model.predict(X_test[0:10])

array([0, 1, 2, 0, 1, 0, 1, 0, 0, 0])

In [14]:
model.predict_proba(X_test[:10])

array([[9.94953677e-01, 5.04632337e-03, 1.51630115e-25],
       [4.15303640e-12, 1.00000000e+00, 3.03763722e-13],
       [4.96028636e-19, 6.84641468e-11, 1.00000000e+00],
       [1.00000000e+00, 2.07671353e-10, 2.09198375e-34],
       [2.39649170e-12, 9.99999997e-01, 2.73939516e-09],
       [1.00000000e+00, 5.17204571e-15, 5.15711096e-43],
       [2.35029948e-03, 9.97649701e-01, 1.88960487e-18],
       [9.99999989e-01, 1.14943618e-08, 3.49861759e-22],
       [9.99995716e-01, 4.28449404e-06, 3.65142183e-30],
       [9.84480022e-01, 1.55199780e-02, 1.35843400e-15]])

In [15]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.96      , 0.96      , 1.        , 0.96      , 0.91666667])

##MULTINOMIAL

In [16]:
from sklearn.naive_bayes import MultinomialNB
model_multi = MultinomialNB()

In [17]:
model_multi.fit(X_train,y_train)

MultinomialNB()

In [18]:
multinomial_nbmodel_score = model_multi.score(X_test,y_test)
print(multinomial_nbmodel_score)

0.8703703703703703

In [19]:
X_test[0:10]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
24,13.50,1.81,2.61,20.0,96.0,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845.0
89,12.08,1.33,2.30,23.6,70.0,2.20,1.59,0.42,1.38,1.74,1.07,3.21,625.0
169,13.40,4.60,2.86,25.0,112.0,1.98,0.96,0.27,1.11,8.50,0.67,1.92,630.0
51,13.83,1.65,2.60,17.2,94.0,2.45,2.99,0.22,2.29,5.60,1.24,3.37,1265.0
101,12.60,1.34,1.90,18.5,88.0,1.45,1.36,0.29,1.35,2.45,1.04,2.77,562.0
10,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0
95,12.47,1.52,2.20,19.0,162.0,2.50,2.27,0.32,3.28,2.60,1.16,2.63,937.0
11,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280.0
28,13.87,1.90,2.80,19.4,107.0,2.95,2.97,0.37,1.76,4.50,1.25,3.40,915.0
41,13.41,3.84,2.12,18.8,90.0,2.45,2.68,0.27,1.48,4.28,0.91,3.00,1035.0

In [20]:
y_test[0:10]

24     0
89     1
169    2
51     0
101    1
10     0
95     1
11     0
28     0
41     0
Name: target, dtype: int32

In [21]:
model_multi.predict(X_test[0:10])

array([0, 2, 2, 0, 1, 0, 1, 0, 0, 0])

In [22]:
model_multi.predict_proba(X_test[:10])

array([[9.99732380e-01, 5.08797159e-06, 2.62531570e-04],
       [2.82872526e-01, 2.08609818e-01, 5.08517655e-01],
       [8.41484314e-13, 5.69778848e-02, 9.43022115e-01],
       [1.00000000e+00, 6.35286502e-28, 3.94986639e-20],
       [8.61479670e-06, 7.79309201e-01, 2.20682184e-01],
       [1.00000000e+00, 6.93395494e-37, 1.23232256e-26],
       [2.80725807e-05, 8.09010206e-01, 1.90961721e-01],
       [1.00000000e+00, 4.65266450e-29, 1.22248039e-20],
       [9.99893267e-01, 7.77539146e-07, 1.05955438e-04],
       [1.00000000e+00, 6.41025181e-17, 1.55821633e-11]])

In [23]:
print(multinomial_nbmodel_score)
print(gaussian_nbmodel_score)

0.8703703703703703
0.9814814814814815

In [ ]:
#end of report